@font-face {
    font-family: Inter;
    src: url('../styles/fonts/InterVariable.ttf');
}

@font-face {
    font-family: Orbitron;
    src: url('../styles/fonts/Orbitron-Regular.ttf');
}

@font-face {
    font-family: Lexend;
    src: url('../styles/fonts/Lexend-VariableFont_wght.ttf');
}
  